.rounded-btn {
    border-radius: 25px;
    width: inherit;
}

.rounded-btn-tuit {
    border-radius: 25px;
    width: -webkit-fill-available;
}

.who-to-follow {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.search-btn-group {
    border-radius: 25px;
    background-color: white;
}

.no-border-right {
    border-right-style: none;
}

.no-border-left {
    border-left-style: none;
}

.blue-color {
    color: rgb(28, 91, 227);
}

.main-content-img {
    display: flex;
    width: -webkit-fill-available;

}

.main-content-images {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.bottom-left-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }