.wd-post-image {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.wd-post-card-container {
    border-radius: 25px;
    border-color: #565656d9;
}

.wd-post-card-img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.wd-post-list-item {
    border-bottom-color: #565656d9;
}